body,
.dark-theme,
html {
    background-color: transparent !important;
    background: transparent !important;
    margin: 0;
    padding: 0;
}

* {
    &::-webkit-scrollbar {
        display: none !important;
    }
}

$shadow-size: 20px;
$space: 5px;
$neg-space: -$space;
@keyframes rotate-shadow {
    0% {
        box-shadow: $neg-space $neg-space $shadow-size #00c8ff, $space $space $shadow-size #df01f8;
    }
    25% {
        box-shadow: $space $neg-space $shadow-size #00c8ff, $neg-space $space $shadow-size #df01f8;
    }
    50% {
        box-shadow: $space $space $shadow-size #00c8ff, $neg-space $neg-space $shadow-size #df01f8;
    }
    75% {
        box-shadow: $neg-space $space $shadow-size #00c8ff, $space $neg-space $shadow-size #df01f8;
    }
    100% {
        box-shadow: $neg-space $neg-space $shadow-size #00c8ff, $space $space $shadow-size #df01f8;
    }
}

.no-shadow-text {
    text-shadow: none;
}
